@page "/sensors"
@using Services

@code {
    [Inject]
    SensorService _SensorService { get; set; }
}
<PageTitle>@GlobalSettings.ProductName - Sensors</PageTitle>

<style type="text/css">
    .table tr:hover {
        background: #FFE13C;
    }    
    .table td {
        padding: 5px;
        border-bottom: 1px dotted rgba(0,0,0,0.2);
    }
    .version_icon {
        width: 30px;
        display: inline;
    }
</style>

<h1>Sensors</h1>

<table class="table">
    <thead>
        <tr>            
            <th>Serial Number</th>
            <th>Assigned Number</th>
            <th>Friendly Name</th>
            <th>Version</th>
            <th>Last Heartbeat</th>
            <th>Last Sensor Data</th>
        </tr>
    </thead>

@foreach (Sensor sensor in _SensorService.GetAll())
{
    <tr>
        <td><a href="/sensor/@sensor.Id">@sensor.DeviceSerialNumber</a></td>
        <td>@sensor.AssignedNumber</td>
        <td>@sensor.DeviceFriendlyName</td>        
        <td style="white-space: nowrap;">            
            @sensor.LastSeenClientVersion
            @if (sensor.LastSeenClientVersion == GlobalSettings.Version) {
                <img class="version_icon" src="img/checkmark.svg">
            }            
        </td>
        <td>
            @if (sensor.LastHeartbeatUTC != null) {
                @TimeZoneInfo.ConvertTimeFromUtc(sensor.LastHeartbeatUTC ?? DateTime.MinValue.ToUniversalTime(), GlobalSettings.TimeZone)
            }
        </td>
        <td>
            @if (sensor.LastSensorReadingUTC != null) {
                @TimeZoneInfo.ConvertTimeFromUtc(sensor.LastSensorReadingUTC ?? DateTime.MinValue.ToUniversalTime(), GlobalSettings.TimeZone)
            }
        </td>
    </tr>
}
</table>